PUBLIC_IP=
LOCAL_NET=
RTP_START=
RTP_END=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ROOT_PASSWORD=

AMI_PASSWORD=
PG_PASSWORD=
MIDPOINT_BASE_URL=
MIDPOINT_USER=
MIDPOINT_PASSWORD=
AGENTE_ROLE_OID=
JWT_SECRET=
SUPERVISOR_ROLE_OID=
ADMIN_ROLE_OID=
